__pycache__
*.pyc
.venv
.env
venv
.git
.gitignore
Dockerfile
.dockerignore
.modal.toml
data/
docker-compose.yml
.env.example
.github/
*.md
LICENSE
.vscode/
.idea/
.mypy_cache/
.ruff_cache/
.pytest_cache/